[Unit]
Description="oi-calendar deamon"

[Service]
Type=simple
User=nobody
ExecStart=/path/to/node /path/to/app.js
ExecStop=kill -TREM $MAINPID
WatchdogSec=900
Restart=on-failure
WorkingDirectory=/path/to/oi-calendar

[Install]
WantedBy=multi-user.target
