[Unit]
Description="oi-calendar daemon"

[Service]
Type=simple
User=nobody
ExecStart=/path/to/node /path/to/app.js
WatchdogSec=900
Restart=on-failure
WorkingDirectory=/path/to/oi-calendar

[Install]
WantedBy=multi-user.target
